/* Mobile < 768px */
@media (max-width: 767px) {
  .navbar {
    background-color: #c6ac8f;
    opacity: 0.7;
    font-weight: bold;
  }
}

/* Tablet - 768px */
@media (min-width: 768px) {
  .main-heading {
    font-size: 2.5rem;
    margin-bottom: 1.4rem;
  }
  .itemsList {
    padding: 0;
  }
  .itemsList span {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
  }
  .content-icon {
    display: inline;
  }
}

/* Laptop standard - 1024px */
@media (min-width: 1024px) {
  .siteLogo {
    height: 2.6rem;
  }
  #mainNavbar .nav-link {
    font-size: 1.4rem;
  }
  .main-heading {
    font-size: 3rem;
  }
  .itemsList span {
    font-size: 1.6rem;
  }
}

/* Laptop large - 1440px */
@media (min-width: 1440px) {
  .siteLogo {
    height: 3rem;
  }
  #mainNavbar .nav-link {
    font-size: 1.8rem;
  }
  .main-heading {
    font-size: 3.5rem;
    margin-bottom: 4rem;
  }
  .itemsList span {
    font-size: 2rem;
  }
}

/* 4K - 2560px */
@media (min-width: 2560px) {
  .siteLogo {
    height: 6rem;
  }
  #mainNavbar .nav-link {
    font-size: 3rem;
    padding: 0 1rem;
  }
  .main-heading {
    font-size: 7rem;
    margin-bottom: 8rem;
  }
  .itemsList span {
    font-size: 3.5rem;
  }
}
