/* Tablet - 768px */
@media (min-width: 768px) {
  .row {
    margin-bottom: 2rem;
  }
  section .row:last-child {
    margin-bottom: 0;
  }
  .navbar-brand {
    margin-right: 2rem;
  }
}

@media (max-width: 1023px) {
  .navbar {
    background-color: #c6ac8f;
    opacity: 0.8;
    font-weight: bold;
  }
}

/* Laptop standard - 1024px */
@media (min-width: 1024px) {
  .navbar {
    background: none;
    opacity: 1;
    font-weight: normal;
    padding: 0;
    padding-left: 1rem;
  }
  .siteLogo {
    height: 2rem;
  }
  #mainNavbar .nav-link {
    font-size: 1.2rem;
  }
  .header-text {
    margin-top: 3rem;
  }
  .main-heading {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  .itemsList span {
    font-size: 1.2rem;
  }
  .content-icon {
    display: inline;
    margin: 0.5rem 0 2rem;
  }
  .content-heading {
    font-size: 1.7rem;
  }
  .description {
    font-size: 1.1rem;
  }
}

/* Laptop large - 1440px */
@media (min-width: 1440px) {
  .siteLogo {
    height: 2.5rem;
  }
  #mainNavbar .nav-link {
    font-size: 1.5rem;
  }
  .header-text {
    margin-top: 4rem;
  }
  .main-heading {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
  .itemsList span {
    font-size: 1.8rem;
  }
  .content-heading {
    font-size: 2.2rem;
  }
  .content-icon {
    height: 4rem;
    margin: 1rem 0 4rem;
  }
  .description {
    font-size: 1.4rem;
    text-align: center;
  }
  .row {
    margin-bottom: 3rem;
  }
}

/* 4K - 2560px */
@media (min-width: 2560px) {
  .siteLogo {
    height: 6rem;
  }
  #mainNavbar .nav-link {
    font-size: 3rem;
    padding: 0 1rem;
  }
  .header-text {
    margin-top: 7rem;
  }
  .main-heading {
    font-size: 6rem;
    margin-bottom: 5rem;
  }
  .itemsList span {
    font-size: 3.5rem;
  }
  .content-heading {
    font-size: 5rem;
  }
  .content-icon {
    height: 8rem;
    margin: 1rem 0 4rem;
  }
  .description {
    font-size: 3rem;
    text-align: center;
    padding: 0 3rem;
  }
  .row {
    margin-bottom: 6rem;
  }
}
