/* FONTS AND COLORS */
* {
  font-family: "Quattrocento", serif;
}

body {
  background-color: #eae0d5;
}

.navbar-brand,
.itemsList span,
.main-heading,
.content-heading {
  font-family: "Lugrasimo", cursive;
}

#mainNavbar .nav-link:hover,
.itemsList .span-color,
.description {
  color: #22333b;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
#mainNavbar .nav-link,
.main-heading,
.content-heading,
.itemsList span {
  color: #5e503f;
}

.siteLogo {
  height: 2rem;
  filter: invert(29%) sepia(33%) saturate(335%) hue-rotate(353deg)
    brightness(95%) contrast(90%);
}

/* NAVBAR */
.navbar-brand {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar.scrolled {
  background-color: #c6ac8f;
  transition: all 200ms;
  opacity: 1;
}

#mainNavbar .nav-link {
  font-size: 1.1rem;
}

/* Content section */
.itemsList span {
  display: block;
}

.img-fluid {
  width: 100%;
}

.content-heading {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  margin-top: 2rem;
}

.description {
  font-size: 1rem;
  text-align: justify;
}

.content-icon {
  height: 2rem;
  display: none;
}
