/* FONTS AND COLORS */
* {
  font-family: "Quattrocento", serif;
}

body {
  background-color: #eae0d5;
}

.navbar-brand,
.itemsList span,
h1,
h2 {
  font-family: "Lugrasimo", cursive;
}

#mainNavbar .nav-link:hover,
.itemsList span {
  color: #22333b;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
#mainNavbar .nav-link,
h1,
h2,
.itemsList .span-color {
  color: #5e503f;
}

.siteLogo {
  height: 2.3rem;
  filter: invert(29%) sepia(33%) saturate(335%) hue-rotate(353deg)
    brightness(95%) contrast(90%);
}

/* NAVBAR */
.navbar-brand {
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar {
  background-color: #c6ac8f;
}

#mainNavbar .nav-link {
  font-size: 1.1rem;
}

/* HEADER */
.img-fluid {
  width: 100%;
}

h1 {
  font-size: 2.5rem;
}

.itemsList {
  padding: 2rem 0;
}

.itemsList span {
  font-size: 1.2rem;
  margin: 0.1rem;
}
