* {
  font-family: "Quattrocento", serif;
}

body {
  background-color: #f1faee;
}

.navbar-brand,
.itemsList span,
h1 {
  font-family: "Lugrasimo", cursive;
}

h1,
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
#mainNavbar .nav-link {
  color: #1d3557;
}

#mainNavbar .nav-link:hover,
.span-color {
  color: #457b9d;
}

.siteLogo {
  height: 2rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar {
  font-size: 1.2rem;
  background-color: #a8dadc;
}

.headerImg {
  width: 100%;
}
